* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
}

.border {
    border: 2px solid hsl(30, 54%, 90%);
    min-height: 500px;
    max-width: 50%;
    margin: 7rem auto 6rem;
    border-radius: 1.1rem;
    background-color: #fff;
}

img {
    min-height: 200px;
    max-width: 90%;
    margin: 25px 5% 0;
    border-radius: 0.5rem;
}

.margin {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    margin: 0.8rem 0 0.8rem;
    color: hsl(24, 5%, 18%)
}

p {
    color: hsl(30, 10%, 34%);
}

.inner_border {
    border: 2px solid rgba(243, 230, 216, 0.632);
    margin: 1rem 1rem;
    border-radius: 5px;
    background-color: rgba(243, 230, 216, 0.632);
}

.inner_border h3 {
    margin: 0.5rem 1.5rem 0.5rem;
    color: hsl(332, 51%, 32%);
}

.inner_border ul li {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    list-style-position: inside;
}

h2 {
    color: hsl(14, 45%, 36%);
}

.margin ul li {
    padding-left: 1rem;
    margin-top: 0.7rem;
}

.margin ul {
    margin-bottom: 1rem;
}

hr {
    margin-bottom: 1.2rem;
    width: 85%;
    margin-left: 6.7%;
}

.second_h2 ol {
    list-style-position: inside;
    margin-bottom: 1.5rem;
}

.second_h2 h2 {
    margin-bottom: 0.6rem;
}

.second_h2 ol li {
    margin-top: 0.7rem;
}

.last_h2 {
    margin-top: 1rem;
}

.last_h2, .margin h2 {
    margin-bottom: 0.5rem;
}

.last_h2, .margin ul {
    list-style-type: none;
}

.last_h2, .margin ul hr{
    margin-top: 1rem;
}

.last_h2, .margin p {
    padding-bottom: 1rem;
}

.under_nutrition {
    padding-left: 30%;
    color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 576px) {
    .border {
        border: 2px solid hsl(30, 54%, 90%);
        min-height: 500px;
        max-width: 90%;
        margin: 7rem auto 6rem;
        border-radius: 1.1rem;
        background-color: #fff;
    }
}

/* 
body{
    color: hsl(0, 0%, 100%); border-background
    color: hsl(330, 100%, 98%);
    color: hsl(30, 54%, 90%); background color
    color: hsl(30, 18%, 87%); nutrition text
    color: hsl(30, 10%, 34%); paragraph text
    color: hsl(24, 5%, 18%); h1 heading
    color: hsl(14, 45%, 36%); h2 headings
    color: hsl(332, 51%, 32%); h3 heading
} */